header{
    background-image: url(/assets/img/pattern.png);
    background-size: 10%;
    background-color:#4ea1ff;
}

header img{

    margin:auto;
    width: 15%;
    margin-left:10%;

}
h1{

  width: 80%;
  margin: auto; 
  margin-top:2%; 

}












    


