*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-image: url(/assets/img/pattern.png);
    background-size: 10%;
    background-color:#4ea1ff;
}

header img{

    margin:auto;
    width: 15%;
    margin-left:10%;

}
h1{

  width: 80%;
  margin: auto; 
  margin-top:2%; 

}
main span{
    color: #82cef0;
    text-align: center;
    
}
main h5{
    color:#c5c5c5;
    text-align: left;
    margin-left: 10%;
   
}
.data{
    color:#c5c5c5;
    text-align: left;
    margin-left: 10%;
    
}
.central{
   margin-left: 10%; 
}
p{
    margin-top: 1%;
}
.list{
    margin-left: 10%;
    padding: 1%;
}
table{
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    text-align: left;
    padding: 2%;
    margin-left: 8%;
}



.table{

   
}
thead{
    background-color: #4ea1ff;
    color: white;
}
.tablesec1{

    background-color:red;
}
.item{
    margin-left: 10%;
}
h4{

    
    color:#c5c5c5;
    padding:3%;
    padding-left: 0;
    
}
.monitor{
    color: white;
   
    background-image: url(/assets/img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: 300px,300px;
   
  

    

}
.graph{
    color: white;
    background-image: url(/assets/img/graph.jpg);
    background-repeat: no-repeat;

}
footer{

   margin-left:10%;

}




















    


