
*{

margin:0;
padding:0;
box-sizing: border-box;

}



header{

    background-image:url(../assets/img/pattern.png);
    background-size: 15%;
    background-color: #4EA0FF;



}

h1{

   
    margin-left: 20%;
    margin-right: 20%;
}




.scritta1{

    display: inline;
    margin-left: 20%;
    margin-right: 20%;
    
   
    

}

.scritta2{

    color: aqua;
    display: inline;
    text-align:left;
    margin-right:none;
    


}